*{
  margin: 0;
  padding: 0;
}

header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
height: 5vh;
}

header a {
margin-left: 20px;
text-decoration: none;
color: white;
}

header a:first-child {
margin-left: 20px;
}

#searchInput{
margin-right: 20px;
padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
} 

/*.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
}*/

.cardsmarvel,
.cardsDC{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:20px;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

/*.cardsmarvel,
.cardsDC {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}*/

.card {
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  overflow: hidden;
  width: 250px;
  height: 350px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
} 

.card:hover {
  transform: scale(1.1);
}

/* .card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
} */

.card-img {
  overflow: hidden;
  height: 200px; 
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0; 
}

.card-content {
  padding: 15px;
  text-align: center;
  flex-grow: 1; 
}

.boton {
  background-color: #cea7a3;
  border: none;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

header {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.headerMarvel {
  background-color: #e62429; /* Color de Marvel */
}

.headerDC {
  background-color: #0078d4; /* Color de DC Comics */
}

.header {
  background-color: #eee;
  padding: 10px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header img {
  width: 50px; 
  margin-left: 10px;
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px; 
  height: 500px; 
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  z-index: 999; 
}

.contenido-modal {
  display: flex;
}

.imagen-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  box-sizing: border-box;
}

.imagen {
  width: 300px; 
  height: 450px; 
  object-fit: cover; 
}

.contenido-derecho {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.tituloModal {
  top: 20%;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.descripcion {
  margin-bottom: 15px;
}

.cerrar {
  align-self: flex-end;
  top: 50px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.cerrar:hover {
  background-color: #0056b3;
}


@media screen and (min-width: 376px) and (max-width: 480px) {
  .modal {
      width: 90%;
      height: auto;
      max-width: 400px;
      max-height: 600px;
    }
  
    .contenido-modal {
      flex-direction: column;
    }
  
    .imagen-container,
    .contenido-derecho {
      width: 100%;
      padding: 10px;
    }
  
    .imagen {
      width: 100%;
      height: auto;
    }
  } 

@media screen and (max-width: 375px) {
  .modal {
    width: 90%;
    height: auto;
    max-width: 320px;
    max-height: 480px;
  }
}

 @media screen and (max-width: 667px) {
  .modal {
    width: 90%;
    height: auto;
    max-width: 400px;
    max-height: 600px;
  }

  .contenido-modal {
    flex-direction: column;
  }

  .imagen-container,
  .contenido-derecho {
    width: 100%;
    padding: 10px;
  }

  .imagen {
    width: 100%;
    height: auto;
  }
} 
